{% extends "echec/index.html" %}
{% block title %} 10 commandements {%endblock%}
{%block content %}
            <div align="center"style="color : red ;font-weight: bold;"><ol><li>développer les pions et les pièces vers le centre</li>
			<li>ne pas jouer la Dame trop tôt, ni à plusieurs reprises, sans raison</li>
			<li>sortir les cavaliers avant les fous</li>
			<li>chercher à roquer rapidement</li>
			<li>lier ses tours</li>
			<li>ne pas échanger un pion du centre contre un pion de  l'aile</li>
			<li>reprendre avec ses pions vers le centre</li>
			<li>ne pas déplacer ses pièces sans but</li>
			<li>eviter de se créer des pions arriérés ou doublés</li>
			<li>noter vos parties pour pouvoir les analyser ensuite</li></ol></div>

{% endblock%}
