{% extends "echec/index.html" %}
{% block title %} tour {%endblock%}

{% block nav %}
<div class="nav"><p><ul>
			<li><a href=" {% url 'deplacement_pion' %} ">le pion</a></li>
			<li><a href=" {% url 'deplacement_cavalier' %} ">le cavalier</a></li>
			<li><a href=" {% url 'deplacement_fou' %} ">le fou</a></li>
			<li><a href=" {% url 'deplacement_tour' %} ">la tour</a></li>
			<li><a href=" {% url 'deplacement_dame' %} ">la dame</a></li>
			<li><a href="déplacement roi.html">le roi</a></li>
			<li><a href="petitroque.html"> le petit roque</a></li>
			<li><a href="grandroque.html"> le grand roque</a></li>
		</ul></p></div>

{%endblock%}
{% block content %}
{% load static %}
<div align="center"><img src="{% static 'img/tour.gif' %}" alt="tour" /></div>
				<p>la tour se déplace en ligne verticale ou horizontale</p>
				<p><a href=" {% url 'accueil' %} ">retour</a></p>
		
{%endblock%}
