{% extends "echec/index.html" %}
{% block title %} Exercices {%endblock%}
{% block nav %}
	<ul>
		<li><a href="{% url 'Maten1' %} ">mat en 1</a></li>
		<li><a href="{% url 'Maten2' %} ">mat en 2</a></li>
	</ul>
{%endblock%}
{%block content %}
<!--<head>	
	<title>Chess</title>
    	<link rel="stylesheet" href="/static/css/chessboard-0.3.0.min.css">
    	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    	<script src="/static/js/chessboard-0.3.0.min.js"></script>
	
</head>
<body>
	<div id="board1" style="width: 400px;margin-left:450px"></div>
	<script>
	var cfg = {
  pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
  position: 'start'
};
  var board1 = ChessBoard('board1', cfg);
	</script>
</body> --> 
	
	{%endblock%}
