{% extends "echec/index.html" %}
{% block title %} Propriétés stratégiques {%endblock%}
{% block content %}<p> il y a quelques propriétés qu'il faut connaître pour gagner des parties </p>{%endblock %}
{% block nav %}
<ul><li><a href="fourchette pion.html"> fourchette du pion</a></li>
					<li><a href="fourchette cavalier.html">la fourchette du cavalier</a></li>
					<li><a href="rayon x.html">l'attaque aux rayons x</a></li>
					<li><a href="clouage.html">le clouage</a></li></ul>
{% endblock %}
