{% extends "echec/index.html" %}
{% block title %} Regles {%endblock%}
<nav>
{% block nav %}

<div class="nav">
<p><ul>
			<li><a href=" {% url 'deplacement_pion' %} ">le pion</a></li>
			<li><a href=" {% url 'deplacement_cavalier' %} ">le cavalier</a></li>
			<li><a href=" {% url 'deplacement_fou' %} ">le fou</a></li>
			<li><a href=" {% url 'deplacement_tour' %}">la tour</a></li>
			<li><a href=" {% url 'deplacement_dame' %}">la dame</a></li>
			<li><a href=" {% url 'deplacement_roi' %}">le roi</a></li>
			<li><a href=" {% url 'petit_roque' %}">le petit roque</a></li>
			<li><a href=" {% url 'grand_roque' %}"> le grand roque</a></li>
		</ul></p>
    <a href=" {% url 'accueil' %} ">retour</a></div>
{%endblock%}
</nav>
{%block content %}{% endblock%}
